:root {
  --glow-color: hsl(0, 0%, 100%);
}
.icon-btn {
  color: #fff;
  background-color: #00000000;
  border: 1px solid #fff;
  margin-bottom: 1rem;
  border-radius: 8px;
  justify-content: center;
  align-items: stretch;
  padding: 15px 50px 14px;
  font-size: 1rem;
  transition: all 0.2s;
  display: flex;
  cursor: pointer;
}
.icon-btn:hover {
  color: #000;
  box-shadow: 0 0 1em 0.2em hsl(0, 0%, 100%);
  background-color: #fff;
  border-color: #fff;
}
.links-wrapper {
  align-items: center;
  line-height: 14px;
  display: flex;
}
.relative {
  width: 100%;
  position: relative;
}
.arrow-link {
  color: #057a73;
  align-items: center;
  display: flex;
}
.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.text-field-wrapper {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
  display: flex;
  position: relative;
}
.input-label {
  z-index: 2;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 17px;
  display: inline-block;
  position: relative;
  bottom: -7px;
  left: 8px;
}
.form-wrapper {
  z-index: 50;
  width: 100%;
  max-width: 380px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: relative;
  overflow: visible;
}
.input {
  height: 40px;
  width: 357px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 20px;
  cursor: pointer;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.input:hover {
  border-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 4px rgba(220, 220, 229, 0.9);
  cursor: pointer;
}
.input:focus {
  border: 1px solid #fff;
}
.input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.grey-text {
  color: rgba(255, 255, 255, 0.6);
}
.flex-row-center {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.form-container {
  flex-flow: column wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 10px;
  display: flex;
  position: relative;
}
.link {
  color: #fff;
  text-decoration: none;
}
.link:hover {
  color: #808080;
}
.show-hide {
  color: #fff;
  background-color: #000;
  padding: 0 10px;
  display: flex;
  bottom: -2px;
  cursor: pointer;
}
.show-hide:hover {
  color: #808080;
}
.show-hide.w--current {
  display: none;
}
.tooltip-close {
  z-index: 5;
  width: 24px;
  height: 24px;
  color: #3f3e46;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.tooltip-close:hover {
  background-color: rgba(0, 42, 255, 0.1);
}
.flex-stack-center {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: relative;
}
.form-header {
  margin-top: 70px;
  margin-bottom: 30px;
  line-height: 28px;
}
.svg {
  width: 16px;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  display: flex;
}
.hide {
  display: none;
}
.show-hide-wrap {
  z-index: 4;
  position: absolute;
  top: 7px;
  bottom: auto;
  left: auto;
  right: 3%;
}
.flex-row-outer {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.forgot-password {
  width: 100%;
  height: 25px;
  color: #fff;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
.forgot-password:hover {
  color: #808080;
}
.input-border {
  width: 380px;
  background-color: #fff;
  background-image: radial-gradient(
      circle at 100% 100%,
      rgba(0, 0, 0, 0.9),
      rgba(7, 12, 41, 0) 18%
    ),
    radial-gradient(circle at 0 0, rgba(0, 0, 0, 0.9), rgba(7, 12, 41, 0) 80%);
  border-radius: 6px;
  padding: 1px;
}
.image {
  padding-left: 60px;
  padding-right: 60px;
}
.log_in {
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid #fff;
  font-size: 14px;
  max-width: 380px;
  max-height: 860px;
  height: 55vh;
  padding: 1.5rem;
  padding-top: 0%;
  padding-bottom: 2rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  width: 100%;
  border-radius: 14px;
  backdrop-filter: blur(0.07rem);
  -webkit-backdrop-filter: blur(0.07rem);
  font-size: 15px;
  box-shadow: 0 1px 10px rgba(220, 220, 229, 0.9);
}
.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.08em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-size: 1.3em;

  letter-spacing: 0.6em;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
}
.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
}
.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}
.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}
.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}
.glowing-btn:hover .glowing-txt {
  animation: none;
}
.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}
.glowing-btn:hover:after {
  opacity: 1;
}
.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
.investor_button {
  padding: 25px 30px;
  background-color: #050801;
  color: #03e9f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.investor_button:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}
@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}
body {
  background-color: #000000;
  font-family: new-order;
  line-height: 20px;
}
h1 {
  color: #04101a;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 5.5em;
  font-weight: 700;
  line-height: 1.15em;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
h2 {
  color: #04101a;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.6em;
  font-weight: 700;
  line-height: 1.3em;
}
h3 {
  color: #04101a;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.4em;
}
h4 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.4em;
}
h5 {
  color: #04101a;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.6em;
}
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.6em;
}
p {
  width: 100%;
  margin-bottom: 0;
  line-height: 1.6em;
}
ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}
img {
  display: inline-block;
}
.tsparticles {
  width: 100%;
  height: 100vh;
  min-height: auto;
  perspective: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section {
  z-index: 1;
  width: 100%;
  max-width: 1230px;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 32px;
  display: block;
  position: relative;
}
.section.section-nav {
  justify-content: space-between;
  align-items: stretch;
  margin-top: 0;
  padding: 0 24px;
  display: flex;
  position: static;
}
.line-2 {
  width: 20px;
  height: 2px;
  background-color: #fabf68;
}
.nav__inner-container {
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
}
.nav__transition-block {
  background-color: #fabf68;
  display: none;
}
.line-1 {
  width: 27px;
  height: 2px;
  background-color: #fabf68;
}
.nav__sub-container {
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.nav-hamburger-btn {
  z-index: 201;
  width: 60px;
  height: 60px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 15px;
  display: none;
  position: relative;
}
.nav__transition-block-2 {
  background-color: #fabf68;
  display: none;
}
.nav__logo {
  z-index: 9999;
  width: auto;
  letter-spacing: 1px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 40px;
  transition: opacity 0.3s;
  display: flex;
  position: relative;
}
.nav__logo:hover {
  opacity: 0.6;
}
.nav__container {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}
.nav__item {
  height: 100%;
  color: #fff;
  letter-spacing: 0.2em;
  cursor: pointer;
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6em;
  transition: all 0.2s;
  display: flex;
  text-decoration: none;
}
.nav__item:hover {
  color: #ccc;
  border-bottom-color: #ccc;
}
.nav__item.w--current {
  border-bottom-color: #fabf68;
}
.nav {
  z-index: 999;
  width: 100%;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav.nav--fixed {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0%;
  padding-right: 0%;
  position: absolute;
}
.line-3 {
  width: 27px;
  height: 2px;
  background-color: #fabf68;
}
.project__container {
  width: 76%;
  height: 42vw;
  max-width: 1500px;
  min-height: 500px;
  min-width: 920px;
  perspective: 3500px;
  align-items: center;
  display: flex;
  position: relative;
}
.line-2 {
  width: 100%;
  height: 1px;
  background-color: #ebedf8;
  margin-top: 10px;
  margin-bottom: 10px;
}
.body {
  justify-content: center;
  align-items: stretch;
  display: flex;
}
.body.body-homepage {
  background-color: #000;
  font-family: Lato, sans-serif;
  font-weight: 400;
  display: block;
}
.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}
.link-learn {
  color: #444;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}
.link-learn:hover {
  color: #000;
}
.section-background {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}
.nav-line {
  width: 2px;
  height: 40px;
  background-color: #bcbcbc;
}
.nav-line.mx-1 {
  background-color: #fff;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.logo--img {
  width: 160px;
}
.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}
.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}
.footer-flex-row {
  justify-content: space-between;
  display: flex;
}
.paragraph {
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.2s;
}
.paragraph:hover {
  color: #a1a1a1;
}
.footer-link {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.2s;
  display: block;
  text-decoration: none;
}
.footer-link:hover {
  color: #a1a1a1;
}
.footer-link.w--current {
  color: rgba(255, 255, 255, 0.8);
}
.footer-link.w--current:hover {
  color: #a1a1a1;
}
.footer-icon {
  width: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: -2.5px;
  margin-right: 5px;
}
.footer-icon.address {
  margin-top: 5px;
}
.footer-logo {
  width: 150px;
}
.footer-title {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
}
.flex-row-2 {
  align-items: center;
  display: flex;
}
.flex-row-2.address {
  align-items: flex-start;
}
.footer-flex-col {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}
.footer {
  justify-content: center;
  padding: 20px 60px;
  display: flex;
}
.paragraph-2 {
  color: rgba(255, 255, 255, 0.8);
}
.body-2,
.body-3 {
  font-family: Lato, sans-serif;
}
.text-field,
.submit-button {
  border-radius: 5px;
}
.grid {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto auto auto;
}
.content_paragraph {
  color: #d8d8d8;
}
.heading {
  color: #d8d8d8;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 2.9em;
}
.section-2 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-3 {
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.6em;
    font-weight: 700;
  }
  h2 {
    font-size: 2.2em;
  }
  .section {
    padding: 80px 32px;
  }
  .section.section-nav {
    align-items: center;
    padding: 0;
  }
  .line-2 {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .nav__inner-container {
    max-height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: block;
    overflow: auto;
  }
  .nav__transition-block {
    z-index: 9998;
    width: 100%;
    background-color: #fff;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(-100%);
  }
  .line-1 {
    background-color: #fff;
  }
  .nav__sub-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    overflow: auto;
  }
  .nav-hamburger-btn {
    height: 68px;
    padding: 16px;
    display: flex;
  }
  .nav__transition-block-2 {
    z-index: 9998;
    width: 100%;
    background-color: #fff;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(-100%);
  }
  .nav__logo {
    z-index: 1;
    width: 200px;
    height: 50px;
    max-width: none;
    min-height: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 24px;
    position: relative;
  }
  .nav__logo.w--current {
    background-position: 0;
  }
  .nav__container {
    max-height: 100vh;
    background-color: #18191d;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 96px;
    padding-bottom: 52px;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(-100%);
  }
  .nav__item {
    height: auto;
    letter-spacing: 0.08em;
    text-transform: none;
    text-shadow: none;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
  }
  .nav__item:active {
    opacity: 0.7;
  }
  .nav__item.w--current {
    height: 1.6em;
    margin-bottom: 24px;
  }
  .nav {
    width: 100%;
    height: 68px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 0%;
    display: flex;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  }
  .line-3 {
    background-color: #fff;
  }
  .project__container {
    width: 90%;
    min-width: auto;
  }
  .body {
    display: block;
  }
  .nav-line {
    display: none;
  }
  .footer-flex-col.about {
    min-width: 40%;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  h2 {
    font-size: 2em;
  }
  .tsparticles {
    min-height: auto;
  }
  .section {
    padding: 64px 24px;
  }
  .nav-hamburger-btn {
    height: 60px;
  }
  .nav__logo {
    width: 180px;
  }
  .nav__container {
    padding-top: 84px;
  }
  .nav {
    height: 60px;
    padding-left: 16px;
  }
  .project__container {
    width: 100%;
    min-height: 68vw;
    margin-left: 24px;
    margin-right: 24px;
  }
  .link-learn {
    font-size: 16px;
  }
  .footer-flex-row {
    flex-direction: column;
  }
  .footer-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .footer-flex-col {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer {
    justify-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
  }
  .grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .heading {
    font-size: 2.2em;
  }
  .section-2 {
    padding: 20px;
  }
  .section-3 {
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
  }
}
@media screen and (max-width: 479px) {
  .tsparticles {
    justify-content: space-around;
  }
  .nav__logo {
    min-height: 20px;
  }
  .nav__item {
    font-size: 5vw;
  }
  .nav.nav--fixed {
    height: 54px;
  }
  .project__container {
    width: 100%;
    min-height: 96vh;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }
  .link-learn {
    flex: none;
  }
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
#w-node-_68295baa-a3b4-bb88-ed83-a85fda5768e1-87d8abe3,
#w-node-_1fe4acf8-24fe-c250-2891-fe3ae0e46b19-87d8abe3,
#w-node-ce9a710a-3da0-35da-fa2e-9efd7073f55f-87d8abe3,
#w-node-f9b80b02-c538-34a4-c056-19ed4290b968-87d8abe3,
#dna_model.w-node-a45c4e8a-3914-6306-a78b-3d8cea91fbf5-87d8abe3,
#mri_model.w-node-d0f6ba32-7ecc-87fd-c21a-9cad4c3cd51d-87d8abe3,
#w-node-f15cd019-b5d6-72bc-d710-b742d6054f74-87d8abe3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
